<% include ../cfg/envpath.ejs %>
<ul class="nav-menu">
    <li class="isActive">
        <a href="/webrexco/uc/account.htm">
        <span class="f-con u-icon"></span><h3 class="menu-title"><span class="title-indexIcon mine"></span>账户管理</h3>
        </a>
    </li>
    <li>
    	<a href="/webrexco/uc/events/index.htm">
        <span class="f-con"></span><h3 class="menu-title"><span class="title-indexIcon active"></span>我的活动</h3>
        </a>
    </li>
    <li>
    	<a href="/webrexco/uc/collection.htm">
        <span class="f-con"></span><h3 class="menu-title"><span class="title-indexIcon collections"></span>我的收藏</h3>
        </a>
    </li>
    <li>
        <a href="/webrexco/uc/notice.htm">
        <span class="f-con"></span><h3 class="menu-title"><span class="title-indexIcon message"></span>系统消息</h3>
        </a>
    </li>
    <li class="myMessage" style="display: none;">
    	<a href="/webrexco/uc/index.htm">
        <span class="f-con"></span><h3 class="menu-title"><span class="title-indexIcon news"></span>我的消息</h3>
        </a>
    </li>
</ul>