<% include ../cfg/envpath.ejs %>
<div class="banner clearfix">
    <div class="m-bg">
        <div class="m-userInfo">
            <div class="user-pic"></div>
            <p class="userName"></p>
        </div>
        <div class="m-withdraw">
            <p>账户余额:<span class="availMoney">0.00</span>元<a class="cashBtn">提现</a></p>
            <p>基&nbsp;&nbsp;&nbsp;&nbsp;金:
                <span class="freezeDeposit">0.00</span>元
                <i class="u-sigh"></i>
                <i class="u-sigh-s">
                    <span class="triangle-left"></span>自动存入平台基金帐号，12月后可提现，会员资格自动失效。
                </i> 
            </p>
        </div>
        <div class="m-rank">
            <a class="m-space" href="/webrexco/uc/memberRights.htm?memberType=0" target="_blank">
                <span class="m-rank-venture u-spimg"></span>星空会
            </a>
            <a class="m-ideal" href="/webrexco/uc/memberRights.htm?memberType=1" target="_blank">
               <span class="m-rank-ideal u-idimg"></span>疯巢
            </a>
        </div>
    </div>
</div>