<!DOCTYPE html>
<html lang="zh-Hans-CN">
  <head>
    <meta charset="utf-8">
    <meta name="keywords" content="疯巢,泛创客社群,创客空间">
    <meta name="description" content="疯巢是摆渡星空内的一个泛创客社群，有理想、创业梦想、生活心愿的个人、家庭、创业者都可以加入这个创业空间，成员有机会获得摆渡星空基金以及其他资助">
    <title>疯巢_泛创客社群_创客空间_摆渡星空</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#232323">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="icon" sizes="192x192" href="/webrexco/static/img/ideal/icon.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/webrexco/static/img/ideal/icon-120.png">
    <link rel="stylesheet" href="/webrexco/static/css/cmn/common.css">
    <link rel="stylesheet" href="/webrexco/static/css/space/common.css">
    <link rel="stylesheet" href="/webrexco/static/css/ideal/swiper.min.css">
    <link rel="stylesheet" href="/webrexco/static/css/ideal/index.css">
    <script>window.headerMap = {headerCodeMap:{"0": 2 }}</script>
  </head>
  <body>
     
    <% include ../cmn/header.ejs %>
    <div class="background">
      <div class="header">
        <div class="title">疯巢</div>
        <div class="point">·</div>
        <div class="subtitle">打造创业与梦想的城池</div>
        <div class="buttons"><a class="button" target="_blank" href="/webrexco/help/index.htm">新手攻略</a><a class="button apply">提交你的项目，立即加入泛创客社群</a></div>
      </div>
    </div>
    <div class="content">
      <div class="title">加入我们</div>
      <div class="container">
        <!-- Slider main container-->
        <div class="swiper-container">
          <!-- Additional required wrapper-->
          <div class="swiper-wrapper">
            <!-- Slides-->
            <div class="swiper-slide">
              <div class="img p-1"></div>
              <div class="name">智能硬件创客社</div><a class="button red apply">立即加入</a>
            </div>
            <div class="swiper-slide">
              <div class="img p-2"></div>
              <div class="name">文创社</div><a class="button red apply">立即加入</a>
            </div>
            <div class="swiper-slide">
              <div class="img p-3"></div>
              <div class="name">大数据应用兄弟社</div><a class="button red apply">立即加入</a>
            </div>
            <div class="swiper-slide">
              <div class="img p-4"></div>
              <div class="name">内容创作社</div><a class="button red apply">立即加入</a>
            </div>
            <div class="swiper-slide">
              <div class="img p-5"></div>
              <div class="name">实体店创业社</div><a class="button red apply">立即加入</a>
            </div>
          </div>
        </div>
        <!-- If we need navigation buttons-->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
      <div class="title">我们还能这样玩</div>
      <div class="block">
        <div class="half">
          <div class="image b-1"></div>
        </div>
        <div class="half">
          <div class="name">皇包车</div>
          <div class="description">基于移动互联网技术的全球中文车导服务电子商务平台</div>
          <div class="buttons"><a class="button apply">60天</a><a class="button apply">￥20000</a>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="half">
          <div class="name">摆渡星空创咖</div>
          <div class="description">杭州 互联网金融大厦6楼
100个咖啡厅办公</div>
          <div class="buttons"><a class="button apply">申请入驻</a>
          </div>
        </div>
        <div class="half">
          <div class="image b-2"></div>
        </div>
      </div>
      <div class="block">
        <div class="half">
          <div class="image b-3"></div>
        </div>
        <div class="half">
          <div class="name">杭州创业周末</div>
          <div class="description">Hangzhou Startup Weekend
2016年12月16日 18:30 ～ 2016年12月18日 21:00</div>
          <div class="buttons"><a class="button apply">我要报名</a>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="half">
          <div class="name">寻找创始合伙人</div>
          <div class="description">e代泊项目
给干股25%</div>
          <div class="buttons"><a class="button apply">我要报名</a>
          </div>
        </div>
        <div class="half">
          <div class="image b-4"></div>
        </div>
      </div>
      <div class="block">
        <div class="half">
          <div class="image b-5"></div>
        </div>
        <div class="half">
          <div class="name">线下用户体验</div>
          <div class="description">有好的产品和服务就扔过来
接触和跨界才是一条生路</div>
          <div class="buttons"><a class="button apply">我要合作</a>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="half">
          <div class="name">VIP会员利益</div>
          <div class="description">我们有美食，有福利
书、美食还有朋友</div>
          <div class="buttons"><a class="button apply">我要合作</a>
          </div>
        </div>
        <div class="half">
          <div class="image b-6"></div>
        </div>
      </div>
      <div class="title">泛创客连接</div>
      <div class="link"></div>
    </div>
     
    <% include ../cmn/footer.ejs %>
    <script src="/webrexco/static/js/cmn/rexco-0.1.min.js"></script>
    <script src="/webrexco/static/js/header.js"></script>
    <script src="/webrexco/static/js/ideal/swiper.jquery.js"></script>
    <script src="/webrexco/activity/login/show.js"></script>
    <script>// Production steps of ECMA-262, Edition 5, 15.4.4.14
// Reference: http://es5.github.io/#x15.4.4.14
if (!Array.prototype.indexOf) {
    Array.prototype.indexOf = function (searchElement, fromIndex) {

        var k;

        // 1. Let o be the result of calling ToObject passing
        //    the this value as the argument.
        if (this == null) {
            throw new TypeError('"this" is null or not defined');
        }

        var o = Object(this);

        // 2. Let lenValue be the result of calling the Get
        //    internal method of o with the argument "length".
        // 3. Let len be ToUint32(lenValue).
        var len = o.length >>> 0;

        // 4. If len is 0, return -1.
        if (len === 0) {
            return -1;
        }

        // 5. If argument fromIndex was passed let n be
        //    ToInteger(fromIndex); else let n be 0.
        var n = fromIndex | 0;

        // 6. If n >= len, return -1.
        if (n >= len) {
            return -1;
        }

        // 7. If n >= 0, then Let k be n.
        // 8. Else, n<0, Let k be len - abs(n).
        //    If k is less than 0, then let k be 0.
        k = Math.max(n >= 0 ? n : len - Math.abs(n), 0);

        // 9. Repeat, while k < len
        while (k < len) {
            // a. Let Pk be ToString(k).
            //   This is implicit for LHS operands of the in operator
            // b. Let kPresent be the result of calling the
            //    HasProperty internal method of o with argument Pk.
            //   This step can be combined with c
            // c. If kPresent is true, then
            //    i.  Let elementK be the result of calling the Get
            //        internal method of o with the argument ToString(k).
            //   ii.  Let same be the result of applying the
            //        Strict Equality Comparison Algorithm to
            //        searchElement and elementK.
            //  iii.  If same is true, return k.
            if (k in o && o[k] === searchElement) {
                return k;
            }
            k++;
        }
        return -1;
    };
}

// Polyfill `Date.now()`
if (!Date.now) {
    Date.now = function () {
        return new Date().valueOf();
    }
}

// Polyfill `window.addEventListener()` and `window.removeListener()`
!window.addEventListener && (function (WindowPrototype, DocumentPrototype, ElementPrototype, addEventListener, removeEventListener, dispatchEvent, registry) {
    WindowPrototype[addEventListener] = DocumentPrototype[addEventListener] = ElementPrototype[addEventListener] = function (type, listener) {
        var target = this;

        registry.unshift([target, type, listener, function (event) {
            event.currentTarget = target;
            event.preventDefault = function () { event.returnValue = false };
            event.stopPropagation = function () { event.cancelBubble = true };
            event.target = event.srcElement || target;

            listener.call(target, event);
        }]);

        this.attachEvent("on" + type, registry[0][3]);
    };

    WindowPrototype[removeEventListener] = DocumentPrototype[removeEventListener] = ElementPrototype[removeEventListener] = function (type, listener) {
        for (var index = 0, register; register = registry[index]; ++index) {
            if (register[0] == this && register[1] == type && register[2] == listener) {
                return this.detachEvent("on" + type, registry.splice(index, 1)[0][3]);
            }
        }
    };

    WindowPrototype[dispatchEvent] = DocumentPrototype[dispatchEvent] = ElementPrototype[dispatchEvent] = function (eventObject) {
        return this.fireEvent("on" + eventObject.type, eventObject);
    };
})(Window.prototype, HTMLDocument.prototype, Element.prototype, "addEventListener", "removeEventListener", "dispatchEvent", []);

$(".apply").click(function () {
    $.ajax({
        url: "/webrexco/ideal/info.cgi",
        method: "POST",
        timeout: 10000,
        success: function (result) {
            if (result.code == 401) {
                showIframe("/webrexco/activity/login/login.htm");
                return;
            }

            // 已入资
            if (result.code == 6034 || result.code == 6035) {
                util.tipsModal(2, result.message);
                return;
            }

            // 已申请成功
            if (result.code == 6026 || result.code == 6027) {
                if (result.level == 1)
                    location.href = "charge.htm";
                else
                    util.tipsModal(2, result.message);
                return;
            }

            // 审核被拒绝
            if (result.code == 6031 || result.code == 6032) {
                util.tipsModal(2, result.message);
            }

            location.href = "apply.htm";
        }
    });
});

function loginComplete() {
    $(".apply").click();
}

var mySwiper = new Swiper('.swiper-container', {
    setWrapperSize: true,

    spaceBetween: 8,
    slidesPerView: 5,

    simulateTouch: false,

    loop: true,

    // Navigation arrows
    nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
});

    </script>
  </body>
</html>